black
fastapi
matplotlib
mongomock
numpy
openai
pandas
pydantic
pydantic-settings
pytube
pyyaml
pymongo
pymupdf
pytest
python-dotenv
python-pptx
requests
scikit-learn
seaborn
tabulate
torch
transformers
uvicorn[standard]
yt_dlp
wandb
